---
// Gerado a partir de: bio-debutantes.html
import Base from '../layouts/Base.astro';
import config from '../../config.json';
import Img from '../components/ui/Img.astro';
import LeadForm from '../components/forms/LeadForm.astro';
import WhatsAppModal from '../components/layout/WhatsAppModal.astro';
import '../styles/bio-debutantes.css';
---

<Base
  title="BIO Debutantes - Multipla Eventos"
  ogImage="https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/11/Multipla-principal_2400px.avif"
  canonical="https://eventos.multiplaeventos.com.br/bio-debutantes/"
>
  <Fragment slot="head">
    <!-- Hello Elementor & Elementor Stylesheets -->
    <link rel='stylesheet' id='hello-elementor-css' href='https://eventos.multiplaeventos.com.br/wp-content/themes/hello-elementor/assets/css/reset.css?ver=3.4.7' media='all' />
    <link rel='stylesheet' id='hello-elementor-theme-style-css' href='https://eventos.multiplaeventos.com.br/wp-content/themes/hello-elementor/assets/css/theme.css?ver=3.4.7' media='all' />
    <link rel='stylesheet' id='hello-elementor-header-footer-css' href='https://eventos.multiplaeventos.com.br/wp-content/themes/hello-elementor/assets/css/header-footer.css?ver=3.4.7' media='all' />
    <link rel='stylesheet' id='elementor-frontend-css' href='https://eventos.multiplaeventos.com.br/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=4.0.6' media='all' />
    <link rel='stylesheet' id='elementor-post-4-css' href='https://eventos.multiplaeventos.com.br/wp-content/uploads/elementor/css/post-4.css?ver=1779812993' media='all' />
    <link rel='stylesheet' id='widget-image-css' href='https://eventos.multiplaeventos.com.br/wp-content/plugins/elementor/assets/css/widget-image.min.css?ver=4.0.6' media='all' />
    <link rel='stylesheet' id='widget-heading-css' href='https://eventos.multiplaeventos.com.br/wp-content/plugins/elementor/assets/css/widget-heading.min.css?ver=4.0.6' media='all' />
    <link rel='stylesheet' id='widget-form-css' href='https://eventos.multiplaeventos.com.br/wp-content/plugins/elementor-pro/assets/css/widget-form.min.css?ver=3.32.2' media='all' />
    <link rel='stylesheet' id='elementor-post-350-css' href='https://eventos.multiplaeventos.com.br/wp-content/uploads/elementor/css/post-350.css' media='all' />
    <link rel='stylesheet' id='elementor-gf-roboto-css' href='https://fonts.googleapis.com/css?family=Roboto:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap' media='all' />
    <link rel='stylesheet' id='elementor-gf-montserrat-css' href='https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap' media='all' />
    <link rel='stylesheet' id='elementor-gf-robotoslab-css' href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap' media='all' />
    <link rel='stylesheet' id='elementor-gf-bitter-css' href='https://fonts.googleapis.com/css?family=Bitter:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap' media='all' />
    <link rel='stylesheet' id='elementor-gf-raleway-css' href='https://fonts.googleapis.com/css?family=Raleway:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap' media='all' />
    
    <!-- Flatpickr Library -->
    <link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/flatpickr.min.css" />
    <script is:inline src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
  </Fragment>

  <style>
    /* Estilos específicos locais para otimização de imagens de fundo */
    .elementor-element-745cd60 {
      background-image: url('../assets/images/Prancheta-6.avif') !important;
      background-size: cover;
      background-position: center;
    }
    
    .elementor-element-a9dd76a {
      background-image: url('../assets/images/IMG_3852-scaled.avif') !important;
      background-size: cover;
      background-position: center;
      border-radius: 20px 20px 0 0;
    }
    
    .elementor-element-f3a38ed img {
      width: 120px !important;
      height: auto !important;
      max-width: 100% !important;
      display: block;
      margin: 0 auto;
    }

    /* Estilos customizados do formulário em tons de cobre/rose-gold */
    .elementor-element-e9bf717 {
      background-color: #C58B68 !important;
      border-radius: 20px;
    }

    /* Mapeamento de estilos do botão do formulário */
    :global(.lead-form button[type="submit"]),
    :global(.lead-form .form-submit),
    :global(.elementor-button[type="submit"]) {
      background-color: #C58B68 !important;
      border-color: #C58B68 !important;
      color: white !important;
      border-radius: 24px !important;
      text-transform: uppercase !important;
      letter-spacing: 2px !important;
      font-weight: 600 !important;
      transition: background-color 0.3s ease;
    }

    :global(.lead-form button[type="submit"]:hover),
    :global(.lead-form .form-submit:hover),
    :global(.elementor-button[type="submit"]:hover) {
      background-color: #AC7351 !important;
      border-color: #AC7351 !important;
    }

    /* Oculta o botão flutuante padrão do modal do WhatsApp, pois usamos o botão original do Elementor */
    :global(#wa-floating-btn) {
      display: none !important;
    }
  </style>

  <div data-elementor-type="wp-page" data-elementor-id="350" class="elementor elementor-350" data-elementor-post-type="page">
    <div class="elementor-element elementor-element-745cd60 e-flex e-con-boxed e-con e-parent e-lazyloaded" data-id="745cd60" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
      <div class="e-con-inner">
        <div class="elementor-element elementor-element-a9dd76a e-con-full e-flex e-con e-child" data-id="a9dd76a" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-element elementor-element-f3a38ed elementor-widget__width-initial elementor-widget elementor-widget-image" data-id="f3a38ed" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
            <Img src="Multipla-principal_2400px.avif" alt="" width={2400} height={1965} class="attachment-full size-full wp-image-292" priority />
          </div>
        </div>
        
        <div class="elementor-element elementor-element-eebc05d e-con-full e-flex e-con e-child" data-id="eebc05d" data-element_type="container" data-e-type="container">
          <div class="elementor-element elementor-element-1f638c4 e-con-full e-flex e-con e-child" data-id="1f638c4" data-element_type="container" data-e-type="container">
            <div class="elementor-element elementor-element-cd8e601 elementor-align-justify elementor-widget elementor-widget-button" data-id="cd8e601" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
              <a class="elementor-button elementor-button-link elementor-size-sm" href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjM3MyIsInRvZ2dsZSI6ZmFsc2V9">
                <span class="elementor-button-content-wrapper">
                  <span class="elementor-button-icon">
                    <svg aria-hidden="true" class="e-font-icon-svg e-fab-whatsapp" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"></path></svg>
                  </span>
                  <span class="elementor-button-text">Fale conosco</span>
                </span>
              </a>
            </div>
          </div>
          
          <div class="elementor-element elementor-element-e9bf717 e-con-full e-flex e-con e-child" data-id="e9bf717" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-element elementor-element-2858b2f elementor-widget-mobile__width-initial elementor-widget elementor-widget-heading" data-id="2858b2f" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
              <h2 class="elementor-heading-title elementor-size-default">Solicite um orçamento para o seu próximo evento!</h2>
            </div>
            
            <div class="elementor-element elementor-element-6bc68ec elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="6bc68ec" data-element_type="widget" data-e-type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Pr\u00f3ximo&quot;,&quot;step_previous_label&quot;:&quot;Anterior&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
              <LeadForm
                formId="lead-form"
                formName="form_bio_debutantes"
                project={config.project_slug}
                submitUrl={config.forms['lead-form'].webhooks[0]}
                redirectUrl={config.forms['lead-form'].redirect_on_success}
                submitText="Solicitar orçamento"
                honeypot
                fields={[
                  { name: 'form_fields[servico]', payloadKey: 'Serviço', type: 'select', placeholder: '', required: true, options: [
                    { value: '', label: 'Objetivo de Contato' },
                    { value: 'Solicitar Orçamento', label: 'Solicitar Orçamento' },
                    { value: 'Fornecedor', label: 'Fornecedor' },
                    { value: 'Profissional buscando vaga', label: 'Profissional buscando vaga' }
                  ] },
                  { name: 'form_fields[nome]', payloadKey: 'Nome', type: 'text', placeholder: 'Nome completo', required: true },
                  { name: 'form_fields[telefone]', payloadKey: 'WhatsApp', type: 'text', placeholder: 'WhatsApp', required: true },
                  { name: 'form_fields[email]', payloadKey: 'E-mail', type: 'text', placeholder: 'E-mail', required: true },
                  { name: 'form_fields[tipo]', payloadKey: 'Tipo de evento', type: 'select', placeholder: '', required: true, options: [
                    { value: '', label: 'Tipo de evento' },
                    { value: 'Aniversário', label: 'Aniversário' },
                    { value: 'Aniversário debutante', label: 'Aniversário debutante' },
                    { value: 'Confraternização social', label: 'Confraternização social' },
                    { value: 'Outros', label: 'Outros' }
                  ] },
                  { name: 'form_fields[data]', payloadKey: 'Data do evento', type: 'text', placeholder: 'Data do evento', required: true },
                  { name: 'form_fields[local_evento]', payloadKey: 'Local do evento', type: 'text', placeholder: 'Local do evento', required: true },
                  { name: 'form_fields[convidados]', payloadKey: 'Convidados', type: 'number', placeholder: 'Quantidade de pessoas', required: true },
                  { name: 'form_fields[mensagem]', payloadKey: 'Mensagem', type: 'textarea', placeholder: 'Informações adicionais (não obrigatório)', required: false }
                ]}
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="elementor-element elementor-element-2f5e08a e-flex e-con-boxed e-con e-parent e-lazyloaded" data-id="2f5e08a" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
      <div class="e-con-inner">
        <div class="elementor-element elementor-element-6c1a995 e-con-full e-flex e-con e-child" data-id="6c1a995" data-element_type="container" data-e-type="container">
          <div class="elementor-element elementor-element-f9165b7 elementor-widget elementor-widget-text-editor" data-id="f9165b7" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
            <p>Copyright © 2025 -Multipla Eventos – Todos os direitos reservados</p>
          </div>
        </div>
        
        <div class="elementor-element elementor-element-d978669 e-con-full e-flex e-con e-child" data-id="d978669" data-element_type="container" data-e-type="container">
          <div class="elementor-element elementor-element-83a8df4 elementor-widget__width-initial elementor-widget elementor-widget-image" data-id="83a8df4" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
            <Img src="Multipla-principal_2400px.avif" alt="" width={2400} height={1965} class="attachment-full size-full wp-image-292" />
          </div>
        </div>
        
        <div class="elementor-element elementor-element-4e0e762 e-con-full e-flex e-con e-child" data-id="4e0e762" data-element_type="container" data-e-type="container">
          <div class="elementor-element elementor-element-a8a23ac elementor-widget elementor-widget-text-editor" data-id="a8a23ac" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
            <p>Desenvolvido por:</p>
          </div>
          
          <div class="elementor-element elementor-element-98f2c8f elementor-widget__width-initial elementor-widget-mobile__width-initial elementor-widget elementor-widget-image" data-id="98f2c8f" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
            <a href="http://dmove.com.br">
              <Img src="logo-dmove-1.avif" alt="" width={2551} height={574} class="attachment-full size-full wp-image-43" />
            </a>
          </div>
        </div>
        
        <div class="elementor-element elementor-element-bfa13f1 elementor-fixed elementor-view-default elementor-widget elementor-widget-icon animated fadeInRight" data-id="bfa13f1" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_position&quot;:&quot;fixed&quot;,&quot;_animation&quot;:&quot;fadeInRight&quot;,&quot;_animation_delay&quot;:5000}" data-widget_type="icon.default">
          <div class="elementor-icon-wrapper">
            <a class="elementor-icon" href="https://api.whatsapp.com/send?phone=5511978250000&text=Ol%C3%A1%2C%20gostaria%20de%20solicitar%20um%20or%C3%A7amento!" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="2489" height="2500" viewBox="0 0 1219.547 1225.016"><path fill="#E0E0E0" d="M1041.858 178.02C927.206 63.289 774.753.07 612.325 0 277.617 0 5.232 272.298 5.098 606.991c-.039 106.986 27.915 211.42 81.048 303.476L0 1225.016l321.898-84.406c88.689 48.368 188.547 73.855 290.166 73.896h.258.003c334.654 0 607.08-272.346 607.222-607.023.056-162.208-63.052-314.724-177.689-429.463zm-429.533 933.963h-.197c-90.578-.048-179.402-24.366-256.878-70.339l-18.438-10.93-191.021 50.083 51-186.176-12.013-19.087c-50.525-80.336-77.198-173.175-77.16-268.504.111-278.186 226.507-504.503 504.898-504.503 134.812.056 261.519 52.604 356.814 147.965 95.289 95.36 147.728 222.128 147.688 356.948-.118 278.195-226.522 504.543-504.693 504.543z"></path><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="609.77" y1="1190.114" x2="609.77" y2="21.084"><stop offset="0" stop-color="#20b038"></stop><stop offset="1" stop-color="#60d66a"></stop></linearGradient><path fill="url(#a)" d="M27.875 1190.114l82.211-300.18c-50.719-87.852-77.391-187.523-77.359-289.602.133-319.398 260.078-579.25 579.469-579.25 155.016.07 300.508 60.398 409.898 169.891 109.414 109.492 169.633 255.031 169.57 409.812-.133 319.406-260.094 579.281-579.445 579.281-.023 0 .016 0 0 0h-.258c-96.977-.031-192.266-24.375-276.898-70.5l-307.188 80.548z"></path><image opacity=".08" width="682" height="639" transform="translate(270.984 291.372)"></image><path fill-rule="evenodd" clip-rule="evenodd" fill="#FFF" d="M462.273 349.294c-11.234-24.977-23.062-25.477-33.75-25.914-8.742-.375-18.75-.352-28.742-.352-10 0-26.25 3.758-39.992 18.766-13.75 15.008-52.5 51.289-52.5 125.078 0 73.797 53.75 145.102 61.242 155.117 7.5 10 103.758 166.266 256.203 226.383 126.695 49.961 152.477 40.023 179.977 37.523s88.734-36.273 101.234-71.297c12.5-35.016 12.5-65.031 8.75-71.305-3.75-6.25-13.75-10-28.75-17.5s-88.734-43.789-102.484-48.789-23.75-7.5-33.75 7.516c-10 15-38.727 48.773-47.477 58.773-8.75 10.023-17.5 11.273-32.5 3.773-15-7.523-63.305-23.344-120.609-74.438-44.586-39.75-74.688-88.844-83.438-103.859-8.75-15-.938-23.125 6.586-30.602 6.734-6.719 15-17.508 22.5-26.266 7.484-8.758 9.984-15.008 14.984-25.008 5-10.016 2.5-18.773-1.25-26.273s-32.898-81.67-46.234-111.326z"></path><path fill="#FFF" d="M1036.898 176.091C923.562 62.677 772.859.185 612.297.114 281.43.114 12.172 269.286 12.039 600.137 12 705.896 39.633 809.13 92.156 900.13L7 1211.067l318.203-83.438c87.672 47.812 186.383 73.008 286.836 73.047h.255.003c330.812 0 600.109-269.219 600.25-600.055.055-160.343-62.328-311.108-175.649-424.53zm-424.601 923.242h-.195c-89.539-.047-177.344-24.086-253.93-69.531l-18.227-10.805-188.828 49.508 50.414-184.039-11.875-18.867c-49.945-79.414-76.312-171.188-76.273-265.422.109-274.992 223.906-498.711 499.102-498.711 133.266.055 258.516 52 352.719 146.266 94.195 94.266 146.031 219.578 145.992 352.852-.118 274.999-223.923 498.749-498.899 498.749z"></path></svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <WhatsAppModal
    eventTypes={[
      { value: 'Aniversário', label: 'Aniversário' },
      { value: 'Aniversário debutante', label: 'Aniversário debutante' },
      { value: 'Confraternização social', label: 'Confraternização social' },
      { value: 'Outros', label: 'Outros' }
    ]}
  />

  <span id="elementor-device-mode" class="elementor-screen-only"></span>
  <svg style="display: none;" class="e-font-icon-svg-symbols"></svg>
</Base>

<script>
  import '../scripts/bio-debutantes.js';

  // Intercept click on elementor-action popup for WhatsApp modal
  document.addEventListener('click', (e) => {
    const target = e.target as HTMLElement;
    const a = target.closest('a');
    if (a && a.getAttribute('href')?.includes('eyJpZCI6IjM3MyIs')) {
      e.preventDefault();
      
      const overlay = document.getElementById('wa-modal-overlay');
      if (overlay) {
        overlay.classList.add('active');
        document.body.style.overflow = 'hidden';
        
        // Initialize flatpickr inside modal if flatpickr library is available
        const dateInput = document.getElementById('wa-data') as HTMLInputElement | null;
        if (dateInput && !dateInput._flatpickr && (window as any).flatpickr) {
          (window as any).flatpickr(dateInput, {
            disableMobile: true,
            dateFormat: "d/m/Y",
            locale: {
              weekdays: { shorthand: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sáb"], longhand: ["Domingo", "Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira", "Sábado"] },
              months: { shorthand: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"], longhand: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"] },
              firstDayOfWeek: 1,
              rangeSeparator: " até ",
              ordinal: () => "º"
            }
          });
        }
      }
    }
  });
</script>
