---
// Gerado a partir de: corporativo.html
import Base from '../layouts/Base.astro';
import config from '../../config.json';
import Img from '../components/ui/Img.astro';
import LeadForm from '../components/forms/LeadForm.astro';
import WhatsAppModal from '../components/layout/WhatsAppModal.astro';
import '../styles/corporativo.css';
---

<Base
  title="Corporativo - Multipla Eventos"
  ogImage="https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/11/Multipla-principal_2400px.avif"
  canonical="https://eventos.multiplaeventos.com.br/corporativo/"
>
  <Fragment slot="head">
    <link rel='stylesheet' id='hello-elementor-css' href='https://eventos.multiplaeventos.com.br/wp-content/themes/hello-elementor/assets/css/reset.css?ver=3.4.7' media='all' />
    <link rel='stylesheet' id='hello-elementor-theme-style-css' href='https://eventos.multiplaeventos.com.br/wp-content/themes/hello-elementor/assets/css/theme.css?ver=3.4.7' media='all' />
    <link rel='stylesheet' id='hello-elementor-header-footer-css' href='https://eventos.multiplaeventos.com.br/wp-content/themes/hello-elementor/assets/css/header-footer.css?ver=3.4.7' media='all' />
    <link rel='stylesheet' id='elementor-frontend-css' href='https://eventos.multiplaeventos.com.br/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=4.0.6' media='all' />
    <link rel='stylesheet' id='elementor-post-4-css' href='https://eventos.multiplaeventos.com.br/wp-content/uploads/elementor/css/post-4.css?ver=1779812993' media='all' />
    <link rel='stylesheet' id='widget-image-css' href='https://eventos.multiplaeventos.com.br/wp-content/plugins/elementor/assets/css/widget-image.min.css?ver=4.0.6' media='all' />
    <link rel='stylesheet' id='widget-heading-css' href='https://eventos.multiplaeventos.com.br/wp-content/plugins/elementor/assets/css/widget-heading.min.css?ver=4.0.6' media='all' />
    <link rel='stylesheet' id='widget-icon-box-css' href='https://eventos.multiplaeventos.com.br/wp-content/plugins/elementor/assets/css/widget-icon-box.min.css?ver=4.0.6' media='all' />
    <link rel='stylesheet' id='swiper-css' href='https://eventos.multiplaeventos.com.br/wp-content/plugins/elementor/assets/lib/swiper/v8/css/swiper.min.css?ver=8.4.5' media='all' />
    <link rel='stylesheet' id='e-swiper-css' href='https://eventos.multiplaeventos.com.br/wp-content/plugins/elementor/assets/css/conditionals/e-swiper.min.css?ver=4.0.6' media='all' />
    <link rel='stylesheet' id='widget-nested-carousel-css' href='https://eventos.multiplaeventos.com.br/wp-content/plugins/elementor-pro/assets/css/widget-nested-carousel.min.css?ver=3.32.2' media='all' />
    <link rel='stylesheet' id='widget-gallery-css' href='https://eventos.multiplaeventos.com.br/wp-content/plugins/elementor-pro/assets/css/widget-gallery.min.css?ver=3.32.2' media='all' />
    <link rel='stylesheet' id='elementor-gallery-css' href='https://eventos.multiplaeventos.com.br/wp-content/plugins/elementor/assets/lib/e-gallery/css/e-gallery.min.css?ver=1.2.0' media='all' />
    <link rel='stylesheet' id='widget-form-css' href='https://eventos.multiplaeventos.com.br/wp-content/plugins/elementor-pro/assets/css/widget-form.min.css?ver=3.32.2' media='all' />
    <link rel='stylesheet' id='elementor-post-9-css' href='https://eventos.multiplaeventos.com.br/wp-content/uploads/elementor/css/post-9.css?ver=1779813006' media='all' />
    <link rel='stylesheet' id='elementor-gf-roboto-css' href='https://fonts.googleapis.com/css?family=Roboto:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap' media='all' />
    <link rel='stylesheet' id='elementor-gf-robotoslab-css' href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap' media='all' />
    <link rel='stylesheet' id='elementor-gf-bitter-css' href='https://fonts.googleapis.com/css?family=Bitter:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap' media='all' />
    <link rel='stylesheet' id='elementor-gf-raleway-css' href='https://fonts.googleapis.com/css?family=Raleway:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap' media='all' />
    <link rel='stylesheet' id='elementor-gf-montserrat-css' href='https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap' media='all' />

    <!-- Flatpickr Library -->
    <link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/flatpickr.min.css" />
    <script is:inline src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
    <script is:inline src="https://npmcdn.com/flatpickr/dist/l10n/pt.js"></script>

    <!-- Icon Font CDNs -->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" />
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css" />

    <!-- Swiper Library CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  </Fragment>
<!-- Google Tag Manager (noscript) -->

<!-- End Google Tag Manager (noscript) -->
		<div data-elementor-type="wp-page" data-elementor-id="9" class="elementor elementor-9" data-elementor-post-type="page">
				<div class="elementor-element elementor-element-7a0bac9 e-flex e-con-boxed e-con e-parent e-lazyloaded" data-id="7a0bac9" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-294b11a elementor-widget__width-initial elementor-widget elementor-widget-image" data-id="294b11a" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
															<Img src="Multipla-principal_2400px.avif" alt="" width={2400} height={1965} class="attachment-full size-full wp-image-292" priority />															</div>
		<div class="elementor-element elementor-element-25843d6 e-con-full e-flex e-con e-child" data-id="25843d6" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-68441e6 elementor-widget elementor-widget-heading" data-id="68441e6" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Do planejamento à execução, cuidamos de cada fase do seu evento corporativo.</h2>				</div>
				<div class="elementor-element elementor-element-6be44c6 elementor-widget elementor-widget-text-editor" data-id="6be44c6" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
									<p>A agência de assessoria Múltipla oferece soluções completas e personalizadas para a sua empresa.</p>								</div>
				</div>
				<div class="elementor-element elementor-element-3b070a5 elementor-align-center elementor-widget elementor-widget-button" data-id="3b070a5" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#contato">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Quero mais informações</span>
					</span>
					</a>
								</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-9780118 e-flex e-con-boxed e-con e-parent e-lazyloaded" data-id="9780118" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-5c5e8e2 e-con-full e-flex e-con e-child" data-id="5c5e8e2" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-e152216 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="e152216" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Há 25 anos tornando cada evento inesquecível.</h2>				</div>
				<div class="elementor-element elementor-element-8571b20 elementor-widget__width-initial elementor-widget elementor-widget-text-editor" data-id="8571b20" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
									<p>Planejar e realizar um evento corporativo exige muito trabalho e organização, pois vai além de um único dia: trata-se de valorizar a marca e proporcionar uma experiência completa aos convidados. A Múltipla nasceu para tornar esse processo mais leve, com total dedicação à qualidade e ao profissionalismo.</p>								</div>
				</div>
		<div class="elementor-element elementor-element-19c2577 e-con-full e-flex e-con e-child" data-id="19c2577" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-4c8b04d e-flex e-con-boxed e-con e-parent" data-id="4c8b04d" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-8cc0cf1 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="8cc0cf1" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Aqui, suas ideias são mais que bem-vindas</h2>				</div>
				<div class="elementor-element elementor-element-6936acb elementor-widget__width-initial elementor-widget elementor-widget-text-editor" data-id="6936acb" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
									<p>Oferecemos soluções personalizadas para diversos tipos de eventos corporativos, sempre alinhadas aos seus objetivos e à identidade da sua marca.</p>								</div>
		<div class="elementor-element elementor-element-0e55afb e-grid e-con-full e-con e-child" data-id="0e55afb" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-a061d52 elementor-widget__width-initial elementor-view-default elementor-position-block-start elementor-mobile-position-block-start elementor-widget elementor-widget-icon-box" data-id="a061d52" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

						<div class="elementor-icon-box-icon">
				<span class="elementor-icon">
				<i aria-hidden="true" class=" la la-glass"></i>				</span>
			</div>
			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span>
							Confraternizações <br>e inaugurações.						</span>
					</h3>
				
				
			</div>
			
		</div>
						</div>
				<div class="elementor-element elementor-element-7384475 elementor-widget__width-initial elementor-view-default elementor-position-block-start elementor-mobile-position-block-start elementor-widget elementor-widget-icon-box" data-id="7384475" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

						<div class="elementor-icon-box-icon">
				<span class="elementor-icon">
				<i aria-hidden="true" class=" las la-chalkboard-teacher"></i>				</span>
			</div>
			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span>
							Workshops, palestras e <br>treinamentos.						</span>
					</h3>
				
				
			</div>
			
		</div>
						</div>
				<div class="elementor-element elementor-element-1a8de1c elementor-widget__width-initial elementor-view-default elementor-position-block-start elementor-mobile-position-block-start elementor-widget elementor-widget-icon-box" data-id="1a8de1c" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

						<div class="elementor-icon-box-icon">
				<span class="elementor-icon">
				<i aria-hidden="true" class="icons icon-rocket"></i>				</span>
			</div>
			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span>
							Lançamento de produtos<br> e ativações de marca no pvd. 						</span>
					</h3>
				
				
			</div>
			
		</div>
						</div>
				<div class="elementor-element elementor-element-f5c41f3 elementor-widget__width-initial elementor-view-default elementor-position-block-start elementor-mobile-position-block-start elementor-widget elementor-widget-icon-box" data-id="f5c41f3" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

						<div class="elementor-icon-box-icon">
				<span class="elementor-icon">
				<i aria-hidden="true" class="icons icon-trophy"></i>				</span>
			</div>
			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span>
							Eventos de incentivo e<br> premiações internas.						</span>
					</h3>
				
				
			</div>
			
		</div>
						</div>
				<div class="elementor-element elementor-element-9a670b0 elementor-widget__width-initial elementor-view-default elementor-position-block-start elementor-mobile-position-block-start elementor-widget elementor-widget-icon-box" data-id="9a670b0" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
							<div class="elementor-icon-box-wrapper">

						<div class="elementor-icon-box-icon">
				<span class="elementor-icon">
				<i aria-hidden="true" class="lni lni-coffee-cup"></i>				</span>
			</div>
			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span>
							Coffee Break e<br> ações do Endo Marketing.						</span>
					</h3>
				
				
			</div>
			
		</div>
						</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-969ff4b e-flex e-con-boxed e-con e-parent" data-id="969ff4b" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-7603d3f elementor-widget elementor-widget-heading" data-id="7603d3f" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">O impacto que nos motiva a fazer mais.</h2>				</div>
				<div class="elementor-element elementor-element-02c6dda elementor-widget elementor-widget-text-editor" data-id="02c6dda" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
									<p><span style="font-weight: 400;">Nada nos motiva mais do que ver colaboradores engajados, clientes encantados e equipes inspiradas. Cada evento é uma oportunidade de fortalecer a cultura da empresa e gerar resultados concretos. </span></p>								</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-56aafaf e-flex e-con-boxed e-con e-parent" data-id="56aafaf" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-cdb693e e-con-full e-flex e-con e-child" data-id="cdb693e" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-b48eecf elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="b48eecf" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Transformamos projetos em verdadeiros eventos de sucesso.</h2>				</div>
				<div class="elementor-element elementor-element-3f0abc8 elementor-widget__width-initial elementor-widget elementor-widget-text-editor" data-id="3f0abc8" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
									<p>Com a estratégia da Múltipla, seu evento acontece com organização, cuidado e segurança.</p>								</div>
				</div>
		<div class="elementor-element elementor-element-a618fc5 e-con-full e-flex e-con e-child" data-id="a618fc5" data-element_type="container" data-e-type="container">
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-0ad0702 e-flex e-con-boxed e-con e-parent" data-id="0ad0702" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-cd34015 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="cd34015" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Por que contratar a Múltipla? </h2>				</div>
				<div class="elementor-element elementor-element-a9c2508 elementor-arrows-position-inside elementor-widget elementor-widget-n-carousel e-widget-swiper" data-id="a9c2508" data-element_type="widget" data-e-type="widget" data-settings="{&quot;carousel_items&quot;:[{&quot;slide_title&quot;:&quot;Slide #1&quot;,&quot;_id&quot;:&quot;4e55d7a&quot;},{&quot;slide_title&quot;:&quot;Slide #2&quot;,&quot;_id&quot;:&quot;c273b8b&quot;},{&quot;slide_title&quot;:&quot;Slide #3&quot;,&quot;_id&quot;:&quot;a22a2c5&quot;},{&quot;_id&quot;:&quot;2f885ea&quot;,&quot;slide_title&quot;:&quot;Slide #4&quot;},{&quot;_id&quot;:&quot;0ace398&quot;,&quot;slide_title&quot;:&quot;Slide #5&quot;}],&quot;slides_to_show&quot;:&quot;4&quot;,&quot;slides_to_scroll&quot;:&quot;1&quot;,&quot;speed&quot;:4000,&quot;slides_to_show_tablet&quot;:&quot;2&quot;,&quot;slides_to_show_mobile&quot;:&quot;1&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;infinite&quot;:&quot;yes&quot;,&quot;offset_sides&quot;:&quot;none&quot;,&quot;arrows&quot;:&quot;yes&quot;,&quot;image_spacing_custom&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;image_spacing_custom_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;image_spacing_custom_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}" data-widget_type="nested-carousel.default">
							<div class="e-n-carousel swiper swiper-initialized swiper-horizontal swiper-pointer-events" role="region" aria-roledescription="carousel" aria-label="Carousel" dir="ltr">
			<div class="swiper-wrapper" aria-live="off" id="swiper-wrapper-bb7c9a6355e03dbd" style="transition-duration: 4000ms; transform: translate3d(-2300px, 0px, 0px);"><div class="swiper-slide swiper-slide-duplicate" data-slide="2" role="group" aria-roledescription="slide" aria-label="2 / 5" data-swiper-slide-index="1" aria-hidden="true" inert="" style="width: 277.5px; margin-right: 10px;">
							<div class="elementor-element elementor-element-47c5c31 e-flex e-con-boxed e-con e-child" data-id="47c5c31" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-54c69c4 e-con-full e-flex e-con e-child" data-id="54c69c4" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-c56d43a e-con-full e-flex e-con e-child" data-id="c56d43a" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-d2ae590 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="d2ae590" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Credibilidade</h2>				</div>
				<div class="elementor-element elementor-element-49df052 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="49df052" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Garantia de um evento bem executado com uma marca de confiança.</h2>				</div>
				<div class="elementor-element elementor-element-5297982 elementor-align-center elementor-widget elementor-widget-button" data-id="5297982" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#contato">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Saiba mais</span>
					</span>
					</a>
								</div>
				</div>
				</div>
					</div>
				</div>
								</div><div class="swiper-slide swiper-slide-duplicate" data-slide="3" role="group" aria-roledescription="slide" aria-label="3 / 5" data-swiper-slide-index="2" aria-hidden="true" inert="" style="width: 277.5px; margin-right: 10px;">
							<div class="elementor-element elementor-element-58a66bb e-flex e-con-boxed e-con e-child" data-id="58a66bb" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-61f8f0d e-con-full e-flex e-con e-child" data-id="61f8f0d" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-8433817 e-con-full e-flex e-con e-child" data-id="8433817" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-1d27d92 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="1d27d92" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Rede de Fornecedores</h2>				</div>
				<div class="elementor-element elementor-element-b6f3aa7 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="b6f3aa7" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Acesso aos melhores fornecedores do mercado.</h2>				</div>
				<div class="elementor-element elementor-element-9daf071 elementor-align-center elementor-widget elementor-widget-button" data-id="9daf071" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#contato">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Saiba mais</span>
					</span>
					</a>
								</div>
				</div>
				</div>
					</div>
				</div>
								</div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-slide="4" role="group" aria-roledescription="slide" aria-label="4 / 5" data-swiper-slide-index="3" aria-hidden="true" inert="" style="width: 277.5px; margin-right: 10px;">
							<div class="elementor-element elementor-element-aa7d205 e-flex e-con-boxed e-con e-child" data-id="aa7d205" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-22b63a2 e-con-full e-flex e-con e-child" data-id="22b63a2" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-316aa57 e-con-full e-flex e-con e-child" data-id="316aa57" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-22f1433 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="22f1433" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Gestão de Riscos e Contingência</h2>				</div>
				<div class="elementor-element elementor-element-bb4793f elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="bb4793f" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Planos de contingência para garantir a resolução rápida de imprevistos.</h2>				</div>
				<div class="elementor-element elementor-element-d3915ef elementor-align-center elementor-widget elementor-widget-button" data-id="d3915ef" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#contato">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Saiba mais</span>
					</span>
					</a>
								</div>
				</div>
				</div>
					</div>
				</div>
								</div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-slide="5" role="group" aria-roledescription="slide" aria-label="5 / 5" data-swiper-slide-index="4" aria-hidden="true" inert="" style="width: 277.5px; margin-right: 10px;">
							<div class="elementor-element elementor-element-af97ecb e-flex e-con-boxed e-con e-child" data-id="af97ecb" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-4acc386 e-con-full e-flex e-con e-child" data-id="4acc386" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-4a21075 e-con-full e-flex e-con e-child" data-id="4a21075" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-c335a04 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="c335a04" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Comunicação Clara</h2>				</div>
				<div class="elementor-element elementor-element-a0e9fcb elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="a0e9fcb" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Garantia de que todas as expectativas sejam atendidas, com processos bem comunicados.</h2>				</div>
				<div class="elementor-element elementor-element-cc040f4 elementor-align-center elementor-widget elementor-widget-button" data-id="cc040f4" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#contato">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Saiba mais</span>
					</span>
					</a>
								</div>
				</div>
				</div>
					</div>
				</div>
								</div>
										<div class="swiper-slide swiper-slide-duplicate-next" data-slide="1" role="group" aria-roledescription="slide" aria-label="1 / 5" data-swiper-slide-index="0" style="width: 277.5px; margin-right: 10px;" aria-hidden="true" inert="">
							<div class="elementor-element elementor-element-0ed4366 e-flex e-con-boxed e-con e-child" data-id="0ed4366" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-19d2d83 e-con-full e-flex e-con e-child" data-id="19d2d83" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-a88fa97 e-con-full e-flex e-con e-child" data-id="a88fa97" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-f973761 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="f973761" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Equipe de especialistas</h2>				</div>
				<div class="elementor-element elementor-element-cc8fcfc elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="cc8fcfc" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Contamos com um time completo onde escolhemos um para cuidar do seu evento conforme o perfil.</h2>				</div>
				<div class="elementor-element elementor-element-3621ab2 elementor-align-center elementor-widget elementor-widget-button" data-id="3621ab2" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#contato">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Saiba mais</span>
					</span>
					</a>
								</div>
				</div>
				</div>
					</div>
				</div>
								</div>
											<div class="swiper-slide" data-slide="2" role="group" aria-roledescription="slide" aria-label="2 / 5" data-swiper-slide-index="1" style="width: 277.5px; margin-right: 10px;" aria-hidden="true" inert="">
							<div class="elementor-element elementor-element-47c5c31 e-flex e-con-boxed e-con e-child" data-id="47c5c31" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-54c69c4 e-con-full e-flex e-con e-child" data-id="54c69c4" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-c56d43a e-con-full e-flex e-con e-child" data-id="c56d43a" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-d2ae590 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="d2ae590" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Credibilidade</h2>				</div>
				<div class="elementor-element elementor-element-49df052 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="49df052" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Garantia de um evento bem executado com uma marca de confiança.</h2>				</div>
				<div class="elementor-element elementor-element-5297982 elementor-align-center elementor-widget elementor-widget-button" data-id="5297982" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#contato">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Saiba mais</span>
					</span>
					</a>
								</div>
				</div>
				</div>
					</div>
				</div>
								</div>
											<div class="swiper-slide" data-slide="3" role="group" aria-roledescription="slide" aria-label="3 / 5" data-swiper-slide-index="2" style="width: 277.5px; margin-right: 10px;" aria-hidden="true" inert="">
							<div class="elementor-element elementor-element-58a66bb e-flex e-con-boxed e-con e-child" data-id="58a66bb" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-61f8f0d e-con-full e-flex e-con e-child" data-id="61f8f0d" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-8433817 e-con-full e-flex e-con e-child" data-id="8433817" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-1d27d92 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="1d27d92" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Rede de Fornecedores</h2>				</div>
				<div class="elementor-element elementor-element-b6f3aa7 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="b6f3aa7" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Acesso aos melhores fornecedores do mercado.</h2>				</div>
				<div class="elementor-element elementor-element-9daf071 elementor-align-center elementor-widget elementor-widget-button" data-id="9daf071" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#contato">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Saiba mais</span>
					</span>
					</a>
								</div>
				</div>
				</div>
					</div>
				</div>
								</div>
											<div class="swiper-slide swiper-slide-prev" data-slide="4" role="group" aria-roledescription="slide" aria-label="4 / 5" data-swiper-slide-index="3" style="width: 277.5px; margin-right: 10px;" aria-hidden="true" inert="">
							<div class="elementor-element elementor-element-aa7d205 e-flex e-con-boxed e-con e-child" data-id="aa7d205" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-22b63a2 e-con-full e-flex e-con e-child" data-id="22b63a2" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-316aa57 e-con-full e-flex e-con e-child" data-id="316aa57" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-22f1433 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="22f1433" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Gestão de Riscos e Contingência</h2>				</div>
				<div class="elementor-element elementor-element-bb4793f elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="bb4793f" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Planos de contingência para garantir a resolução rápida de imprevistos.</h2>				</div>
				<div class="elementor-element elementor-element-d3915ef elementor-align-center elementor-widget elementor-widget-button" data-id="d3915ef" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#contato">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Saiba mais</span>
					</span>
					</a>
								</div>
				</div>
				</div>
					</div>
				</div>
								</div>
											<div class="swiper-slide swiper-slide-active" data-slide="5" role="group" aria-roledescription="slide" aria-label="5 / 5" data-swiper-slide-index="4" style="width: 277.5px; margin-right: 10px;">
							<div class="elementor-element elementor-element-af97ecb e-flex e-con-boxed e-con e-child" data-id="af97ecb" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-4acc386 e-con-full e-flex e-con e-child" data-id="4acc386" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-4a21075 e-con-full e-flex e-con e-child" data-id="4a21075" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-c335a04 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="c335a04" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Comunicação Clara</h2>				</div>
				<div class="elementor-element elementor-element-a0e9fcb elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="a0e9fcb" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Garantia de que todas as expectativas sejam atendidas, com processos bem comunicados.</h2>				</div>
				<div class="elementor-element elementor-element-cc040f4 elementor-align-center elementor-widget elementor-widget-button" data-id="cc040f4" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#contato">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Saiba mais</span>
					</span>
					</a>
								</div>
				</div>
				</div>
					</div>
				</div>
								</div>
								<div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-slide="1" role="group" aria-roledescription="slide" aria-label="1 / 5" data-swiper-slide-index="0" style="width: 277.5px; margin-right: 10px;">
							<div class="elementor-element elementor-element-0ed4366 e-flex e-con-boxed e-con e-child" data-id="0ed4366" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-19d2d83 e-con-full e-flex e-con e-child" data-id="19d2d83" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-a88fa97 e-con-full e-flex e-con e-child" data-id="a88fa97" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-f973761 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="f973761" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Equipe de especialistas</h2>				</div>
				<div class="elementor-element elementor-element-cc8fcfc elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="cc8fcfc" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Contamos com um time completo onde escolhemos um para cuidar do seu evento conforme o perfil.</h2>				</div>
				<div class="elementor-element elementor-element-3621ab2 elementor-align-center elementor-widget elementor-widget-button" data-id="3621ab2" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#contato">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Saiba mais</span>
					</span>
					</a>
								</div>
				</div>
				</div>
					</div>
				</div>
								</div><div class="swiper-slide swiper-slide-duplicate" data-slide="2" role="group" aria-roledescription="slide" aria-label="2 / 5" data-swiper-slide-index="1" style="width: 277.5px; margin-right: 10px;">
							<div class="elementor-element elementor-element-47c5c31 e-flex e-con-boxed e-con e-child" data-id="47c5c31" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-54c69c4 e-con-full e-flex e-con e-child" data-id="54c69c4" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-c56d43a e-con-full e-flex e-con e-child" data-id="c56d43a" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-d2ae590 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="d2ae590" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Credibilidade</h2>				</div>
				<div class="elementor-element elementor-element-49df052 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="49df052" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Garantia de um evento bem executado com uma marca de confiança.</h2>				</div>
				<div class="elementor-element elementor-element-5297982 elementor-align-center elementor-widget elementor-widget-button" data-id="5297982" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#contato">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Saiba mais</span>
					</span>
					</a>
								</div>
				</div>
				</div>
					</div>
				</div>
								</div><div class="swiper-slide swiper-slide-duplicate" data-slide="3" role="group" aria-roledescription="slide" aria-label="3 / 5" data-swiper-slide-index="2" style="width: 277.5px; margin-right: 10px;">
							<div class="elementor-element elementor-element-58a66bb e-flex e-con-boxed e-con e-child" data-id="58a66bb" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-61f8f0d e-con-full e-flex e-con e-child" data-id="61f8f0d" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-8433817 e-con-full e-flex e-con e-child" data-id="8433817" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-1d27d92 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="1d27d92" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Rede de Fornecedores</h2>				</div>
				<div class="elementor-element elementor-element-b6f3aa7 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="b6f3aa7" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Acesso aos melhores fornecedores do mercado.</h2>				</div>
				<div class="elementor-element elementor-element-9daf071 elementor-align-center elementor-widget elementor-widget-button" data-id="9daf071" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#contato">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Saiba mais</span>
					</span>
					</a>
								</div>
				</div>
				</div>
					</div>
				</div>
								</div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-slide="4" role="group" aria-roledescription="slide" aria-label="4 / 5" data-swiper-slide-index="3" style="width: 277.5px; margin-right: 10px;" aria-hidden="true" inert="">
							<div class="elementor-element elementor-element-aa7d205 e-flex e-con-boxed e-con e-child" data-id="aa7d205" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-22b63a2 e-con-full e-flex e-con e-child" data-id="22b63a2" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-316aa57 e-con-full e-flex e-con e-child" data-id="316aa57" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-22f1433 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="22f1433" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Gestão de Riscos e Contingência</h2>				</div>
				<div class="elementor-element elementor-element-bb4793f elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="bb4793f" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Planos de contingência para garantir a resolução rápida de imprevistos.</h2>				</div>
				<div class="elementor-element elementor-element-d3915ef elementor-align-center elementor-widget elementor-widget-button" data-id="d3915ef" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
										<a class="elementor-button elementor-button-link elementor-size-sm" href="#contato">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Saiba mais</span>
					</span>
					</a>
								</div>
				</div>
				</div>
					</div>
				</div>
								</div></div>
		<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
					<div class="elementor-swiper-button elementor-swiper-button-prev" role="button" tabindex="0" aria-label="Slide anterior" aria-controls="swiper-wrapper-bb7c9a6355e03dbd">
							</div>
			<div class="elementor-swiper-button elementor-swiper-button-next" role="button" tabindex="0" aria-label="Próximo slide" aria-controls="swiper-wrapper-bb7c9a6355e03dbd">
							</div>
						</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-d613ea8 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile e-flex e-con-boxed e-con e-parent" data-id="d613ea8" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-cef4cda elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="cef4cda" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Uma vez com a Múltipla, sempre com a Múltipla.</h2>				</div>
				<div class="elementor-element elementor-element-c05c8f8 elementor-widget__width-initial elementor-widget elementor-widget-text-editor" data-id="c05c8f8" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
									<p>Veja as empresas que confiam em nossa assessoria.</p>								</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-9bb9956 e-con-full elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile e-flex e-con e-parent" data-id="9bb9956" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-e63a0a4 elementor-widget elementor-widget-gallery" data-id="e63a0a4" data-element_type="widget" data-e-type="widget" data-settings="{&quot;columns&quot;:3,&quot;gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:0,&quot;sizes&quot;:[]},&quot;gap_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:0,&quot;sizes&quot;:[]},&quot;lazyload&quot;:&quot;yes&quot;,&quot;gallery_layout&quot;:&quot;grid&quot;,&quot;columns_tablet&quot;:2,&quot;columns_mobile&quot;:1,&quot;gap_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;link_to&quot;:&quot;file&quot;,&quot;aspect_ratio&quot;:&quot;3:2&quot;,&quot;overlay_background&quot;:&quot;yes&quot;,&quot;content_hover_animation&quot;:&quot;fade-in&quot;}" data-widget_type="gallery.default">
							<div class="elementor-gallery__container e-gallery-container e-gallery-grid e-gallery--ltr e-gallery--lazyload" style="--hgap: 0px; --vgap: 0px; --animation-duration: 350ms; --columns: 3; --rows: 2; --aspect-ratio: 66.66666666666666%; --container-aspect-ratio: NaN%;">
							<a class="e-gallery-item elementor-gallery-item elementor-animated-content" href="https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/10/delegates-networking-during-conference-lunch-break-2024-10-19-03-25-07-utc-scaled.avif" data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="e63a0a4" data-elementor-lightbox-title="Delegates Networking During Conference Lunch Break" data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDUsInVybCI6Imh0dHBzOlwvXC9ldmVudG9zLm11bHRpcGxhZXZlbnRvcy5jb20uYnJcL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMjVcLzEwXC9kZWxlZ2F0ZXMtbmV0d29ya2luZy1kdXJpbmctY29uZmVyZW5jZS1sdW5jaC1icmVhay0yMDI0LTEwLTE5LTAzLTI1LTA3LXV0Yy1zY2FsZWQuYXZpZiIsInNsaWRlc2hvdyI6ImU2M2EwYTQifQ%3D%3D" style="--column: 0; --row: 0;">
					<div class="e-gallery-image elementor-gallery-item__image e-gallery-image-loaded" data-thumbnail="https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/10/delegates-networking-during-conference-lunch-break-2024-10-19-03-25-07-utc-scaled.avif" data-width="2560" data-height="1707" aria-label="" role="img" style="background-image: url(&quot;https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/10/delegates-networking-during-conference-lunch-break-2024-10-19-03-25-07-utc-scaled.avif&quot;);"></div>
											<div class="elementor-gallery-item__overlay"></div>
														</a>
							<a class="e-gallery-item elementor-gallery-item elementor-animated-content" href="https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/10/delegates-networking-during-coffee-break-at-confer-2024-10-21-20-15-13-utc-scaled.avif" data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="e63a0a4" data-elementor-lightbox-title="Delegates Networking During Coffee Break At Conference" data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDYsInVybCI6Imh0dHBzOlwvXC9ldmVudG9zLm11bHRpcGxhZXZlbnRvcy5jb20uYnJcL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMjVcLzEwXC9kZWxlZ2F0ZXMtbmV0d29ya2luZy1kdXJpbmctY29mZmVlLWJyZWFrLWF0LWNvbmZlci0yMDI0LTEwLTIxLTIwLTE1LTEzLXV0Yy1zY2FsZWQuYXZpZiIsInNsaWRlc2hvdyI6ImU2M2EwYTQifQ%3D%3D" style="--column: 1; --row: 0;">
					<div class="e-gallery-image elementor-gallery-item__image e-gallery-image-loaded" data-thumbnail="https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/10/delegates-networking-during-coffee-break-at-confer-2024-10-21-20-15-13-utc-scaled.avif" data-width="2560" data-height="1707" aria-label="" role="img" style="background-image: url(&quot;https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/10/delegates-networking-during-coffee-break-at-confer-2024-10-21-20-15-13-utc-scaled.avif&quot;);"></div>
											<div class="elementor-gallery-item__overlay"></div>
														</a>
							<a class="e-gallery-item elementor-gallery-item elementor-animated-content" href="https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/10/businesswoman-receiving-award-from-businessman-in-2025-04-03-21-24-51-utc-scaled.avif" data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="e63a0a4" data-elementor-lightbox-title="businesswoman-receiving-award-from-businessman-in-2025-04-03-21-24-51-utc" data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDgsInVybCI6Imh0dHBzOlwvXC9ldmVudG9zLm11bHRpcGxhZXZlbnRvcy5jb20uYnJcL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMjVcLzEwXC9idXNpbmVzc3dvbWFuLXJlY2VpdmluZy1hd2FyZC1mcm9tLWJ1c2luZXNzbWFuLWluLTIwMjUtMDQtMDMtMjEtMjQtNTEtdXRjLXNjYWxlZC5hdmlmIiwic2xpZGVzaG93IjoiZTYzYTBhNCJ9" style="--column: 2; --row: 0;">
					<div class="e-gallery-image elementor-gallery-item__image e-gallery-image-loaded" data-thumbnail="https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/10/businesswoman-receiving-award-from-businessman-in-2025-04-03-21-24-51-utc-scaled.avif" data-width="2560" data-height="1707" aria-label="" role="img" style="background-image: url(&quot;https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/10/businesswoman-receiving-award-from-businessman-in-2025-04-03-21-24-51-utc-scaled.avif&quot;);"></div>
											<div class="elementor-gallery-item__overlay"></div>
														</a>
							<a class="e-gallery-item elementor-gallery-item elementor-animated-content" href="https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/10/business-team-office-in-new-years-party-2020-2025-03-25-19-17-23-utc-scaled.avif" data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="e63a0a4" data-elementor-lightbox-title="business team office in new years party 2020" data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDksInVybCI6Imh0dHBzOlwvXC9ldmVudG9zLm11bHRpcGxhZXZlbnRvcy5jb20uYnJcL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMjVcLzEwXC9idXNpbmVzcy10ZWFtLW9mZmljZS1pbi1uZXcteWVhcnMtcGFydHktMjAyMC0yMDI1LTAzLTI1LTE5LTE3LTIzLXV0Yy1zY2FsZWQuYXZpZiIsInNsaWRlc2hvdyI6ImU2M2EwYTQifQ%3D%3D" style="--column: 0; --row: 1;">
					<div class="e-gallery-image elementor-gallery-item__image e-gallery-image-loaded" data-thumbnail="https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/10/business-team-office-in-new-years-party-2020-2025-03-25-19-17-23-utc-scaled.avif" data-width="2560" data-height="1709" aria-label="" role="img" style="background-image: url(&quot;https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/10/business-team-office-in-new-years-party-2020-2025-03-25-19-17-23-utc-scaled.avif&quot;);"></div>
											<div class="elementor-gallery-item__overlay"></div>
														</a>
							<a class="e-gallery-item elementor-gallery-item elementor-animated-content" href="https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/10/businessmen-and-businesswomen-making-a-corporate-p-2025-04-01-02-35-16-utc-scaled.avif" data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="e63a0a4" data-elementor-lightbox-title="Businessmen and businesswomen making a corporate party" data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NTAsInVybCI6Imh0dHBzOlwvXC9ldmVudG9zLm11bHRpcGxhZXZlbnRvcy5jb20uYnJcL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMjVcLzEwXC9idXNpbmVzc21lbi1hbmQtYnVzaW5lc3N3b21lbi1tYWtpbmctYS1jb3Jwb3JhdGUtcC0yMDI1LTA0LTAxLTAyLTM1LTE2LXV0Yy1zY2FsZWQuYXZpZiIsInNsaWRlc2hvdyI6ImU2M2EwYTQifQ%3D%3D" style="--column: 1; --row: 1;">
					<div class="e-gallery-image elementor-gallery-item__image e-gallery-image-loaded" data-thumbnail="https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/10/businessmen-and-businesswomen-making-a-corporate-p-2025-04-01-02-35-16-utc-scaled.avif" data-width="2560" data-height="1707" aria-label="" role="img" style="background-image: url(&quot;https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/10/businessmen-and-businesswomen-making-a-corporate-p-2025-04-01-02-35-16-utc-scaled.avif&quot;);"></div>
											<div class="elementor-gallery-item__overlay"></div>
														</a>
							<a class="e-gallery-item elementor-gallery-item elementor-animated-content" href="https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/10/IMG_6965-1.avif" data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="e63a0a4" data-elementor-lightbox-title="IMG_6965 (1)" data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NTEsInVybCI6Imh0dHBzOlwvXC9ldmVudG9zLm11bHRpcGxhZXZlbnRvcy5jb20uYnJcL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMjVcLzEwXC9JTUdfNjk2NS0xLmF2aWYiLCJzbGlkZXNob3ciOiJlNjNhMGE0In0%3D" style="--column: 2; --row: 1;">
					<div class="e-gallery-image elementor-gallery-item__image e-gallery-image-loaded" data-thumbnail="https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/10/IMG_6965-1.avif" data-width="1600" data-height="1066" aria-label="" role="img" style="background-image: url(&quot;https://eventos.multiplaeventos.com.br/wp-content/uploads/2025/10/IMG_6965-1.avif&quot;);"></div>
											<div class="elementor-gallery-item__overlay"></div>
														</a>
					</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-5e53b21 e-flex e-con-boxed e-con e-parent" data-id="5e53b21" data-element_type="container" data-e-type="container" id="contato" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-0351609 e-con-full e-flex e-con e-child" data-id="0351609" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-4a59f89 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="4a59f89" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
					<h2 class="elementor-heading-title elementor-size-default">Vamos começar a planejar seu evento? </h2>				</div>
				<div class="elementor-element elementor-element-6be13d6 elementor-widget__width-initial elementor-widget elementor-widget-text-editor" data-id="6be13d6" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
									<p>Preencha o formulário para receber nosso contato.</p>								</div>
				</div>
		<div class="elementor-element elementor-element-5c09842 e-con-full card-vidro e-flex e-con e-child" data-id="5c09842" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-27ce1ce elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="27ce1ce" data-element_type="widget" data-e-type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Pr\u00f3ximo&quot;,&quot;step_previous_label&quot;:&quot;Anterior&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
							<LeadForm
							  formId="lead-form"
							  formName="form_corporativo"
							  project={config.project_slug}
							  submitUrl={config.forms['lead-form'].webhooks[0]}
							  redirectUrl={config.forms['lead-form'].redirect_on_success}
							  submitText="Solicitar orçamento"
							  honeypot
							  fields={[
							    { name: 'form_fields[servico]', payloadKey: 'Serviço', type: 'select', placeholder: '', required: true, options: [
							      { value: '', label: 'Objetivo de Contato' },
							      { value: 'Solicitar Orçamento', label: 'Solicitar Orçamento' },
							      { value: 'Fornecedor', label: 'Fornecedor' },
							      { value: 'Profissional buscando vaga', label: 'Profissional buscando vaga' }
							    ] },
							    { name: 'form_fields[nome]', payloadKey: 'Nome', type: 'text', placeholder: 'Nome completo', required: true },
							    { name: 'form_fields[empresa]', payloadKey: 'Empresa', type: 'text', placeholder: 'Empresa', required: true },
							    { name: 'form_fields[telefone]', payloadKey: 'WhatsApp', type: 'text', placeholder: 'WhatsApp', required: true },
							    { name: 'form_fields[email]', payloadKey: 'E-mail', type: 'text', placeholder: 'E-mail', required: true },
							    { name: 'form_fields[tipo]', payloadKey: 'Tipo de evento', type: 'select', placeholder: '', required: true, options: [
							      { value: '', label: 'Tipo de evento' },
							      { value: 'Confraternização corporativa', label: 'Confraternização corporativa' },
							      { value: 'Corporativo', label: 'Corporativo' },
							      { value: 'Feiras e Exposições', label: 'Feiras e Exposições' },
							      { value: 'Masterclass e Palestras', label: 'Masterclass e Palestras' },
							      { value: 'Mentorias e Treinamentos', label: 'Mentorias e Treinamentos' },
							      { value: 'Offsite corporativo', label: 'Offsite corporativo' },
							      { value: 'Reuniões de Networking', label: 'Reuniões de Networking' },
							      { value: 'Shows e Festivais', label: 'Shows e Festivais' },
							      { value: 'Workshops, Conferências e Seminários', label: 'Workshops, Conferências e Seminários' },
							      { value: 'Outros', label: 'Outros' }
							    ] },
							    { name: 'form_fields[data]', payloadKey: 'Data do evento', type: 'text', placeholder: 'Data do evento', required: true },
							    { name: 'form_fields[local_evento]', payloadKey: 'Local do evento', type: 'text', placeholder: 'Local do evento', required: true },
							    { name: 'form_fields[convidados]', payloadKey: 'Convidados', type: 'number', placeholder: 'Quantidade de pessoas', required: true },
							    { name: 'form_fields[mensagem]', payloadKey: 'Mensagem', type: 'textarea', placeholder: 'Informações adicionais (não obrigatório)', required: false }
							  ]}
							/>
						</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-bd2d11e e-flex e-con-boxed e-con e-parent" data-id="bd2d11e" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-a3136f5 e-con-full e-flex e-con e-child" data-id="a3136f5" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-76278ad elementor-widget elementor-widget-text-editor" data-id="76278ad" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
									<p>Copyright © 2025 -Multipla Eventos – Todos os direitos reservados</p>								</div>
				</div>
		<div class="elementor-element elementor-element-91be808 e-con-full e-flex e-con e-child" data-id="91be808" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-65ee710 elementor-widget__width-initial elementor-widget elementor-widget-image" data-id="65ee710" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
															<Img src="Multipla-principal_2400px.avif" alt="" width={2400} height={1965} class="attachment-full size-full wp-image-292" />															</div>
				</div>
		<div class="elementor-element elementor-element-38a6ad9 e-con-full e-flex e-con e-child" data-id="38a6ad9" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-3d3b84c elementor-widget elementor-widget-text-editor" data-id="3d3b84c" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
									<p>Desenvolvido por:</p>								</div>
				<div class="elementor-element elementor-element-f6842de elementor-widget__width-initial elementor-widget-mobile__width-initial elementor-widget elementor-widget-image" data-id="f6842de" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
																<a href="http://dmove.com.br">
							<Img src="logo-dmove-1.avif" alt="" width={2551} height={574} class="attachment-full size-full wp-image-43" />								</a>
															</div>
				</div>
				<div class="elementor-element elementor-element-6e5814c elementor-fixed elementor-view-default elementor-widget elementor-widget-icon animated fadeInRight" data-id="6e5814c" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_position&quot;:&quot;fixed&quot;,&quot;_animation&quot;:&quot;fadeInRight&quot;,&quot;_animation_delay&quot;:5000}" data-widget_type="icon.default">
							<div class="elementor-icon-wrapper">
			<a class="elementor-icon" href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6Ijk5IiwidG9nZ2xlIjpmYWxzZX0%3D">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="2489" height="2500" viewBox="0 0 1219.547 1225.016"><path fill="#E0E0E0" d="M1041.858 178.02C927.206 63.289 774.753.07 612.325 0 277.617 0 5.232 272.298 5.098 606.991c-.039 106.986 27.915 211.42 81.048 303.476L0 1225.016l321.898-84.406c88.689 48.368 188.547 73.855 290.166 73.896h.258.003c334.654 0 607.08-272.346 607.222-607.023.056-162.208-63.052-314.724-177.689-429.463zm-429.533 933.963h-.197c-90.578-.048-179.402-24.366-256.878-70.339l-18.438-10.93-191.021 50.083 51-186.176-12.013-19.087c-50.525-80.336-77.198-173.175-77.16-268.504.111-278.186 226.507-504.503 504.898-504.503 134.812.056 261.519 52.604 356.814 147.965 95.289 95.36 147.728 222.128 147.688 356.948-.118 278.195-226.522 504.543-504.693 504.543z"></path><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="609.77" y1="1190.114" x2="609.77" y2="21.084"><stop offset="0" stop-color="#20b038"></stop><stop offset="1" stop-color="#60d66a"></stop></linearGradient><path fill="url(#a)" d="M27.875 1190.114l82.211-300.18c-50.719-87.852-77.391-187.523-77.359-289.602.133-319.398 260.078-579.25 579.469-579.25 155.016.07 300.508 60.398 409.898 169.891 109.414 109.492 169.633 255.031 169.57 409.812-.133 319.406-260.094 579.281-579.445 579.281-.023 0 .016 0 0 0h-.258c-96.977-.031-192.266-24.375-276.898-70.5l-307.188 80.548z"></path><image opacity=".08" width="682" height="639" transform="translate(270.984 291.372)"></image><path fill-rule="evenodd" clip-rule="evenodd" fill="#FFF" d="M462.273 349.294c-11.234-24.977-23.062-25.477-33.75-25.914-8.742-.375-18.75-.352-28.742-.352-10 0-26.25 3.758-39.992 18.766-13.75 15.008-52.5 51.289-52.5 125.078 0 73.797 53.75 145.102 61.242 155.117 7.5 10 103.758 166.266 256.203 226.383 126.695 49.961 152.477 40.023 179.977 37.523s88.734-36.273 101.234-71.297c12.5-35.016 12.5-65.031 8.75-71.305-3.75-6.25-13.75-10-28.75-17.5s-88.734-43.789-102.484-48.789-23.75-7.5-33.75 7.516c-10 15-38.727 48.773-47.477 58.773-8.75 10.023-17.5 11.273-32.5 3.773-15-7.523-63.305-23.344-120.609-74.438-44.586-39.75-74.688-88.844-83.438-103.859-8.75-15-.938-23.125 6.586-30.602 6.734-6.719 15-17.508 22.5-26.266 7.484-8.758 9.984-15.008 14.984-25.008 5-10.016 2.5-18.773-1.25-26.273s-32.898-81.67-46.234-111.326z"></path><path fill="#FFF" d="M1036.898 176.091C923.562 62.677 772.859.185 612.297.114 281.43.114 12.172 269.286 12.039 600.137 12 705.896 39.633 809.13 92.156 900.13L7 1211.067l318.203-83.438c87.672 47.812 186.383 73.008 286.836 73.047h.255.003c330.812 0 600.109-269.219 600.25-600.055.055-160.343-62.328-311.108-175.649-424.53zm-424.601 923.242h-.195c-89.539-.047-177.344-24.086-253.93-69.531l-18.227-10.805-188.828 49.508 50.414-184.039-11.875-18.867c-49.945-79.414-76.312-171.188-76.273-265.422.109-274.992 223.906-498.711 499.102-498.711 133.266.055 258.516 52 352.719 146.266 94.195 94.266 146.031 219.578 145.992 352.852-.118 274.999-223.923 498.749-498.899 498.749z"></path></svg>			</a>
		</div>
						</div>
					</div>
				</div>
				</div>
		
		
					
			<link rel="stylesheet" id="elementor-post-99-css" href="https://eventos.multiplaeventos.com.br/wp-content/uploads/elementor/css/post-99.css?ver=1779812999" media="all">
<link rel="stylesheet" id="e-popup-css" href="https://eventos.multiplaeventos.com.br/wp-content/plugins/elementor-pro/assets/css/conditionals/popup.min.css?ver=3.32.2" media="all">
<link rel="stylesheet" id="elementor-gf-montserrat-css" href="https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap" media="all">





<span id="elementor-device-mode" class="elementor-screen-only"></span>








<svg style="display: none;" class="e-font-icon-svg-symbols"></svg>



<link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/flatpickr.min.css">



	

<link rel="stylesheet" href="https://eventos.multiplaeventos.com.br/wp-content/plugins/elementor/assets/css/conditionals/lightbox.min.css?ver=4.0.6"><svg style="display: none;" class="e-font-icon-svg-symbols"></svg>

<div class="flatpickr-calendar animate" tabindex="-1"><div class="flatpickr-months"><span class="flatpickr-prev-month"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17 17"><g></g><path d="M5.207 8.471l7.146 7.147-0.707 0.707-7.853-7.854 7.854-7.853 0.707 0.707-7.147 7.146z"></path></svg></span><div class="flatpickr-month"><div class="flatpickr-current-month"><select class="flatpickr-monthDropdown-months" aria-label="Month" tabindex="-1"><option class="flatpickr-monthDropdown-month" value="0" tabindex="-1">Janeiro</option><option class="flatpickr-monthDropdown-month" value="1" tabindex="-1">Fevereiro</option><option class="flatpickr-monthDropdown-month" value="2" tabindex="-1">Março</option><option class="flatpickr-monthDropdown-month" value="3" tabindex="-1">Abril</option><option class="flatpickr-monthDropdown-month" value="4" tabindex="-1">Maio</option><option class="flatpickr-monthDropdown-month" value="5" tabindex="-1">Junho</option><option class="flatpickr-monthDropdown-month" value="6" tabindex="-1">Julho</option><option class="flatpickr-monthDropdown-month" value="7" tabindex="-1">Agosto</option><option class="flatpickr-monthDropdown-month" value="8" tabindex="-1">Setembro</option><option class="flatpickr-monthDropdown-month" value="9" tabindex="-1">Outubro</option><option class="flatpickr-monthDropdown-month" value="10" tabindex="-1">Novembro</option><option class="flatpickr-monthDropdown-month" value="11" tabindex="-1">Dezembro</option></select><div class="numInputWrapper"><input class="numInput cur-year" type="number" tabindex="-1" aria-label="Year"><span class="arrowUp"></span><span class="arrowDown"></span></div></div></div><span class="flatpickr-next-month"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17 17"><g></g><path d="M13.207 8.472l-7.854 7.854-0.707-0.707 7.146-7.146-7.146-7.148 0.707-0.707 7.854 7.854z"></path></svg></span></div><div class="flatpickr-innerContainer"><div class="flatpickr-rContainer"><div class="flatpickr-weekdays"><div class="flatpickr-weekdaycontainer">
      <span class="flatpickr-weekday">
        Seg</span><span class="flatpickr-weekday">Ter</span><span class="flatpickr-weekday">Qua</span><span class="flatpickr-weekday">Qui</span><span class="flatpickr-weekday">Sex</span><span class="flatpickr-weekday">Sáb</span><span class="flatpickr-weekday">Dom
      </span>
      </div></div><div class="flatpickr-days" tabindex="-1"><div class="dayContainer"><span class="flatpickr-day prevMonthDay" aria-label="Abril 27, 2026" tabindex="-1">27</span><span class="flatpickr-day prevMonthDay" aria-label="Abril 28, 2026" tabindex="-1">28</span><span class="flatpickr-day prevMonthDay" aria-label="Abril 29, 2026" tabindex="-1">29</span><span class="flatpickr-day prevMonthDay" aria-label="Abril 30, 2026" tabindex="-1">30</span><span class="flatpickr-day" aria-label="Maio 1, 2026" tabindex="-1">1</span><span class="flatpickr-day" aria-label="Maio 2, 2026" tabindex="-1">2</span><span class="flatpickr-day" aria-label="Maio 3, 2026" tabindex="-1">3</span><span class="flatpickr-day" aria-label="Maio 4, 2026" tabindex="-1">4</span><span class="flatpickr-day" aria-label="Maio 5, 2026" tabindex="-1">5</span><span class="flatpickr-day" aria-label="Maio 6, 2026" tabindex="-1">6</span><span class="flatpickr-day" aria-label="Maio 7, 2026" tabindex="-1">7</span><span class="flatpickr-day" aria-label="Maio 8, 2026" tabindex="-1">8</span><span class="flatpickr-day" aria-label="Maio 9, 2026" tabindex="-1">9</span><span class="flatpickr-day" aria-label="Maio 10, 2026" tabindex="-1">10</span><span class="flatpickr-day" aria-label="Maio 11, 2026" tabindex="-1">11</span><span class="flatpickr-day" aria-label="Maio 12, 2026" tabindex="-1">12</span><span class="flatpickr-day" aria-label="Maio 13, 2026" tabindex="-1">13</span><span class="flatpickr-day" aria-label="Maio 14, 2026" tabindex="-1">14</span><span class="flatpickr-day" aria-label="Maio 15, 2026" tabindex="-1">15</span><span class="flatpickr-day" aria-label="Maio 16, 2026" tabindex="-1">16</span><span class="flatpickr-day" aria-label="Maio 17, 2026" tabindex="-1">17</span><span class="flatpickr-day" aria-label="Maio 18, 2026" tabindex="-1">18</span><span class="flatpickr-day" aria-label="Maio 19, 2026" tabindex="-1">19</span><span class="flatpickr-day" aria-label="Maio 20, 2026" tabindex="-1">20</span><span class="flatpickr-day" aria-label="Maio 21, 2026" tabindex="-1">21</span><span class="flatpickr-day" aria-label="Maio 22, 2026" tabindex="-1">22</span><span class="flatpickr-day" aria-label="Maio 23, 2026" tabindex="-1">23</span><span class="flatpickr-day" aria-label="Maio 24, 2026" tabindex="-1">24</span><span class="flatpickr-day" aria-label="Maio 25, 2026" tabindex="-1">25</span><span class="flatpickr-day" aria-label="Maio 26, 2026" tabindex="-1">26</span><span class="flatpickr-day today" aria-label="Maio 27, 2026" aria-current="date" tabindex="-1">27</span><span class="flatpickr-day" aria-label="Maio 28, 2026" tabindex="-1">28</span><span class="flatpickr-day" aria-label="Maio 29, 2026" tabindex="-1">29</span><span class="flatpickr-day" aria-label="Maio 30, 2026" tabindex="-1">30</span><span class="flatpickr-day" aria-label="Maio 31, 2026" tabindex="-1">31</span><span class="flatpickr-day nextMonthDay" aria-label="Junho 1, 2026" tabindex="-1">1</span><span class="flatpickr-day nextMonthDay" aria-label="Junho 2, 2026" tabindex="-1">2</span><span class="flatpickr-day nextMonthDay" aria-label="Junho 3, 2026" tabindex="-1">3</span><span class="flatpickr-day nextMonthDay" aria-label="Junho 4, 2026" tabindex="-1">4</span><span class="flatpickr-day nextMonthDay" aria-label="Junho 5, 2026" tabindex="-1">5</span><span class="flatpickr-day nextMonthDay" aria-label="Junho 6, 2026" tabindex="-1">6</span><span class="flatpickr-day nextMonthDay" aria-label="Junho 7, 2026" tabindex="-1">7</span></div></div></div></div></div>
  <WhatsAppModal
    eventTypes={[
      { value: 'Confraternização corporativa', label: 'Confraternização corporativa' },
      { value: 'Corporativo', label: 'Corporativo' },
      { value: 'Feiras e Exposições', label: 'Feiras e Exposições' },
      { value: 'Masterclass e Palestras', label: 'Masterclass e Palestras' },
      { value: 'Mentorias e Treinamentos', label: 'Mentorias e Treinamentos' },
      { value: 'Offsite corporativo', label: 'Offsite corporativo' },
      { value: 'Reuniões de Networking', label: 'Reuniões de Networking' },
      { value: 'Shows e Festivais', label: 'Shows e Festivais' },
      { value: 'Workshops, Conferências e Seminários', label: 'Workshops, Conferências e Seminários' },
      { value: 'Outros', label: 'Outros' }
    ]}
  />
</Base>

<script>
  import '../scripts/corporativo.js';

  // Inicializa o carrossel Swiper Corporativo
  const initSwiper = () => {
    const wrapper = document.querySelector('.elementor-element-a9c2508 .swiper-wrapper');
    if (wrapper) {
      wrapper.querySelectorAll('.swiper-slide-duplicate').forEach(el => el.remove());
    }

    if ((window as any).Swiper) {
      new (window as any).Swiper('.elementor-element-a9c2508 .swiper', {
        slidesPerView: 4,
        spaceBetween: 10,
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        navigation: {
          nextEl: '.elementor-element-a9c2508 .elementor-swiper-button-next',
          prevEl: '.elementor-element-a9c2508 .elementor-swiper-button-prev',
        },
        breakpoints: {
          0: {
            slidesPerView: 1,
          },
          480: {
            slidesPerView: 2,
          },
          768: {
            slidesPerView: 2,
          },
          1024: {
            slidesPerView: 4,
          }
        }
      });
    }
  };

  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', initSwiper);
  } else {
    initSwiper();
  }

  // Intercepta cliques nos botões "Saiba mais" do carrossel para rolar de forma suave até o formulário
  document.addEventListener('click', (e) => {
    const target = e.target as HTMLElement;
    const btn = target.closest('.elementor-element-a9c2508 .swiper-slide a');
    if (btn) {
      e.preventDefault();
      const contactSection = document.getElementById('contato');
      if (contactSection) {
        contactSection.scrollIntoView({ behavior: 'smooth' });
      }
    }
  });

  // Intercept click on elementor-action popup for WhatsApp modal (Popup ID 99)
  document.addEventListener('click', (e) => {
    const target = e.target as HTMLElement;
    const a = target.closest('a');
    if (a && a.getAttribute('href')?.includes('eyJpZCI6Ijk5Iiw')) {
      e.preventDefault();
      
      const overlay = document.getElementById('wa-modal-overlay');
      if (overlay) {
        overlay.classList.add('active');
        document.body.style.overflow = 'hidden';
        
        // Initialize flatpickr inside modal if flatpickr library is available
        const dateInput = document.getElementById('wa-data') as HTMLInputElement | null;
        if (dateInput && !dateInput._flatpickr && (window as any).flatpickr) {
          (window as any).flatpickr(dateInput, {
            disableMobile: true,
            dateFormat: "d/m/Y",
            locale: {
              weekdays: { shorthand: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sáb"], longhand: ["Domingo", "Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira", "Sábado"] },
              months: { shorthand: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"], longhand: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"] },
              firstDayOfWeek: 1,
              rangeSeparator: " até ",
              ordinal: () => "º"
            }
          });
        }
      }
    }
  });
</script>
